html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #FF766B;
    background-attachment:fixed;
    font: 300 15px/17px 'Open Sans', 'sans-serif', Arial, Helvetica, sans-serif;
    position: relative;

    -webkit-transform: translateZ(0) !important;
    -webkit-backface-visibility: hidden !important;
    -webkit-overflow-scrolling: touch !important;
}
a{
    color: #818080;
    line-height: 30px;
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    height: 100%;
}
.popup{
    display: none;
    position: fixed;
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 999999999999999999999;
}
#wait{
    background: url("../img/wait.gif") no-repeat center;
    background-size: 60px;
    position: fixed;
    top: 50%;
    height: 70px;
    width: 100%;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    display: table;
    overflow: hidden;
}
.center{
    text-align: center;
}
.blue{
    color: cornflowerblue;
}
/*form*/
.app_title{
    font-size: 26pt;
    color: #000;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.app_form{
    padding-right: 20px;
    padding-left: 20px;
}
.app_line{
    height: 1px;
    border-top: solid 2px #cecece;
    margin-top: 5px;
    margin-bottom: 5px;
}
.app_input{
    border: none;
    background: none;
    font-size: 16pt;
    padding: 5px;
}
.app_button{
    width: 80%;
    margin: auto;
    font-size: 20pt;
    border: none;
    padding: 10px;
    background: #cecece;
    color: #000;
}
.app_formaction{
    text-align: center;
}
.app_formaction img{
    max-height: 50px;
    margin-bottom: -16px;
}
#error{
    text-align: center;
    color: #fff;
}
.item_questions{
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #cecece;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    color: #fff;
    overflow: hidden;
}
.item_answer{
    border-bottom: solid 1px #cecece;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    color: #fff;
}
.header{
    height: 50px;
    line-height: 50px;
    color: #000;
    text-align: right;
    background: #FF665A;
}
.menu{
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    background: url("../img/align-justify.png") no-repeat;
    background-size: 100%;
}

/*******/
.content{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9999999;
    background: #FF766B;
}

.snap-drawer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.snap-drawer li > a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    color: #ccc;
    text-indent: 20px;
}

.snap-drawer.snap-drawer-left {
    background: #fff;
    color: #000;
}
.menu_wrapper{
    height: 100%;
    width: 250px;
    position: relative;
}
.seetings_link{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    color: #000;
    border-bottom: solid 1px #cecece;
    border-top: solid 1px #cecece;
}
.menu_link{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    color: #000;
    border-bottom: solid 1px #cecece;
}
.question_content{
    text-align: center;
    padding: 10px;
    height: 100%;
    overflow: auto;
}
.question_content p{
    max-height: 30%;
    overflow-x: auto;
}
.question_content textarea{
    width: 100%;
    height: 40%;
    border: none;
}
.question_content button{
    padding: 10px;
    width: 90%;
}
.question_content textarea.answ{
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid 5px #FF665A;
    border-bottom: solid 5px #FF665A;
}
.fix{
    height: 29%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FF665A;
}
.showInfoPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #cecece;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    z-index: 99999999999;
}
.add_button{
    background: url("../img/plus.png") no-repeat center;
    background-size: 80%;
    height: 50px;
    width: 50px;
    float: right;
}
.save{
    background: url("../img/floppy-o.png") no-repeat center;
    background-size: 80%;
    height: 50px;
    width: 50px;
    float: right;
}
.add_button{
    background: url("../img/plus.png") no-repeat center;
    background-size: 80%;
    height: 50px;
    width: 50px;
    float: right;
}
.remove_todo{
    background: url("../img/times.png") no-repeat center;
    background-size: 80%;
    height: 30px;
    width: 40px;
    float: right;
    display: block;
    margin-right: -10px;
}
.back{
    background: url("../img/chevron-left.png") no-repeat center;
    background-size: 80%;
    height: 50px;
    width: 50px;
    float: left;
}
.cl{
    width: 100%;
    display: block;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}
.exit{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border: none;
    background: url("../img/sign-out.png") no-repeat left center #FF665A;
    color: #fff;
    padding: 20px 0;
}
input#pin {
    border: none;
    display: inline-block;
    float: right;
    height: 50px;
    margin-top: -15px;
    margin-right: 5px;
}
.play{
    background: url("../img/play.png") no-repeat center;
    background-size: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 99999999999;
}
